services:
  postgres:
    image: postgres:18
    environment:
      POSTGRES_HOST_AUTH_METHOD: "trust"
    restart: unless-stopped
    volumes:
      - pg-data:/var/lib/postgresql
    networks:
      - net
  valkey:
    image: valkey/valkey
    restart: unless-stopped
    networks:
      - net
  web:
    image: glitchtip/glitchtip
    depends_on:
      - postgres
      - valkey
    ports:
      - "8010:8010"
    env_file:
      - .env
    restart: unless-stopped
    volumes:
      - uploads:/code/uploads
    environment:
        - VIRTUAL_HOST=sentry.nbesoro.com
        - LETSENCRYPT_HOST=sentry.nbesoro.com
        - LETSENCRYPT_EMAIL=bonjour@nbesoro.com
        - VIRTUAL_PORT=8010
    networks:
      - net
  worker:
    image: glitchtip/glitchtip
    command: ./bin/run-celery-with-beat.sh
    depends_on:
      - postgres
      - valkey
    env_file:
      - .env
    restart: unless-stopped
    volumes:
      - uploads:/code/uploads
    networks:
      - net 
  migrate:
    image: glitchtip/glitchtip
    depends_on:
      - postgres
      - valkey
    command: ./bin/run-migrate.sh
    env_file:
      - .env
    networks:
      - net
volumes:
  pg-data:
  uploads:

networks:
  net:
    external: true